<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <h1>Calculadora</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Resultado:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Operação:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button size="medium" color="medium">MC</ion-button>
  <ion-button size="medium" color="medium">MR</ion-button>
  <ion-button size="medium" color="medium">M+</ion-button>
  <ion-button size="medium" color="medium">M-</ion-button>
  <ion-button size="medium" color="medium">MS</ion-button>

  <ion-button size="large" color="medium">%</ion-button>
  <ion-button size="large" color="medium">√</ion-button>
  <ion-button size="large" color="medium">÷</ion-button>
  <ion-button size="large" color="medium">-</ion-button>
  <ion-button size="large" color="medium">+</ion-button>
  <ion-button size="large" color="medium">x</ion-button>
  <ion-button size="large" color="medium">x²</ion-button>
  <ion-button size="large" color="medium">(</ion-button>
  <ion-button size="large" color="medium">)</ion-button>
  <ion-button size="large" color="medium">=</ion-button>


</ion-content>
