<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <h1>Calculadora</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Resultado:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Operação:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button size="medium" color="medium">MC</ion-button>
  <ion-button size="medium" color="medium">MR</ion-button>
  <ion-button size="medium" color="medium">M+</ion-button>
  <ion-button size="medium" color="medium">M-</ion-button>
  <ion-button size="medium" color="medium">MS</ion-button>
  <ion-button size="medium" color="medium">M*</ion-button>

  <div class="calculadora">
    <div>
      <ion-button size="large" color="medium">%</ion-button>
      <ion-button size="large" color="medium">√</ion-button>
      <ion-button size="large" color="medium">(²)</ion-button>
      <ion-button size="large" color="medium">1/x</ion-button>
    </div>


    <div>
      <ion-button size="large" color="medium">CE</ion-button>
      <ion-button size="large" color="medium">C</ion-button>
      <ion-button size="large" color="medium">☒</ion-button>
      <ion-button size="large" color="medium">÷</ion-button>
    </div>
    <div>
      <ion-button size="large" color="medium">7</ion-button>
      <ion-button size="large" color="medium">8</ion-button>
      <ion-button size="large" color="medium">9</ion-button>
      <ion-button size="large" color="medium">x</ion-button>
    </div>

    <div>
      <ion-button size="large" color="medium">4</ion-button>
      <ion-button size="large" color="medium">5</ion-button>
      <ion-button size="large" color="medium">6</ion-button>
      <ion-button size="large" color="medium">-</ion-button>
    </div>

    <div>
      <ion-button size="large" color="medium">1</ion-button>
      <ion-button size="large" color="medium">2</ion-button>
      <ion-button size="large" color="medium">3</ion-button>
      <ion-button size="large" color="medium">+</ion-button>
    </div>

    <div>
      <ion-button size="large" color="medium">±</ion-button>
      <ion-button size="large" color="medium">0</ion-button>
      <ion-button size="large" color="medium">,</ion-button>
      <ion-button size="large" color="medium">=</ion-button>
    </div>
  </div>

</ion-content>
