<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <h1>Calculadora</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="floating">Valor 1</ion-label>
    <ion-input placeholder="Coloque o Valor"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Valor 2</ion-label>
    <ion-input placeholder="Coloque o Valor"></ion-input>
  </ion-item>

  <ion-button size="large" color="secondary">+</ion-button>
  <ion-button size="large" color="secondary">-</ion-button>
  <ion-button size="large" color="secondary">*</ion-button>
  <ion-button size="large" color="secondary"> > </ion-button>
  <ion-button size="large" color="secondary"> < </ion-button>


  <ion-item>
    <ion-label>Resultado:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Operação:</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>

